<div>
	<div class="theme">
		<h1>Snelste</h1>
		<div><%= link_to "Kiezen", new_battle_path(:theme => params[:theme], :game_type => "fastest") %></div>
	</div>
	<div class="theme">
		<h1>Beste</h1>
		<div><%= link_to "Kiezen", new_battle_path(:theme => params[:theme], :game_type => "best") %></div>
	</div>
	<div class="theme">
		<h1>Quiz</h1>
		<div><%= link_to "Kiezen", new_battle_path(:theme => params[:theme], :game_type => "quiz") %></div>
	</div>
	
	
</div>