<div>
	<div class="theme">
		<h1>Snelste</h1>
		<div><%= link_to "Choose", new_battle_path(:theme => params[:theme], :game_type => "Snelste"), class: "primary-button bottom-pusher" %></div>
	</div>
	<div class="theme">
		<h1>Beste</h1>
		<div><%= link_to "Choose", new_battle_path(:theme => params[:theme], :game_type => "Beste"), class: "primary-button bottom-pusher" %></div>
	</div>
	<div class="theme">
		<h1>Quiz</h1>
			<%= link_to "Choose", new_battle_path(:theme => params[:theme], :game_type => "Quiz"), class: "primary-button bottom-pusher" %>
	</div>
	
	
</div>