<div>
	<div class="theme">
		<div class="subheading">Energy</div class="subheading">
		<div><%= link_to "Host", new_battle_path %></div>
		<div><%= link_to "Join", battles_path %></div>
	</div>
</div>