<% provide(:title, "Thema selectie") %>
<h1>Thema-selectie</h1>
<p>Maak een keuze uit één van de onderstaande thema's en kies vervolgens om een eigen battle te starten of om deel te nemen aan een battle.</p>
<%= render "battles/theme", theme: "energy" %>
<%= render "battles/theme", theme: "dirt" %>
<%= render "battles/theme", theme: "water" %>