

<% if current_user.readings.order("created_at").last.battle_id == @battle.id %> 


<%  %>

	<div class="subheading">Je meterstand gegevens</div>
	<p>Je opgegeven meterstand is <%= current_user.readings.order("created_at").last.amount %> kWh.
	</p>
	<%= image_tag current_user.readings.order("created_at").last.meter_url.to_s, class: 'reading-img' %>



<% else %>


<div class="subheading">Upload meterstand gegevens</div>
<%= render 'readings/form' %>
	

<% end %>
