<% provide(:title, "Mijn meterstanden") %>
<div class="subheading">Mijn meterstanden</div>

<% @readings.each do |f| %>
	<%= f.amount %> kWh op <%= f.created_at.to_date.strftime("%d %B %Y") %> [<%= link_to 'Bekijk foto', reading_path(f) %>]<br/>
<% end %>