<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	  <h1>Hallo Mathijs Kingma, welkom bij de Energybattle!</h1>

	  <p>
	  	Wat leuk dat je je hebt aangemeld bij de Energybattle. 
	  	Vanaf nu kun jij samen met je vrienden, klasgenoten of familie meehelpen met het 
	  	verbeteren van het milieu.
	  </p>

	  <p>Hieronder vind je de gegevens om in te loggen op de <a href="<%= @url %>">Energybattle.</p>

	  <p>
	  	Jouw gebruikersnaam: <strong><%= @user.name %></strong><br/>
	  </p>

	  <p>Veel plezier bij het spelen van de Energybattle!</p>
  </body>
</html>

