$blue: rgb(52, 73, 94); /* de standaard blauwe kleur */
$darkblue: rgb(44, 62, 80); /* de donker blauwe kleur */
$green: rgb(104, 192, 123); /* de standaard groene kleur */
$darkgreen: rgb(83, 153, 98); /* de donkere groene kleur, hover */
$darkergreen: rgb(62, 115, 73); /* de donkerste groene kleur, active */
$white: rgba(255, 255, 255, 0.8); /* de witte, lichtdoorzichtige (tekst) kleur. */
$grey: rgb(240, 240, 240); /* de standaard lichtgrijze kleur */