<h1>Creer Battle</h1>
<div id="grijs-vlak">
	
	<div id="form">
		<h2>Battle Settings</h2>
		
		
	</div>
	
	<div id="blauw-vlak">
		<div class='member'>
			<% u = User.find(3) %>
			<%= u.first_name %>
		</div>
	</div>
	
	<div id="rood-vlak"></div>

</div>