<div class="theme">
	<div class="subheading"><%= "#{game_type.capitalize}" %></div>
	<%= link_to image_tag("#{game_type}.jpg"), new_battle_path(:theme => params[:theme], game_type: "#{game_type}")  %>
	<%= link_to "Choose", new_battle_path(:theme => params[:theme], game_type: "#{game_type}"), class: "primary-button bottom-pusher" %>
</div>
