<div class="theme">
	<div class="subheading"><%= "#{game_type.capitalize}" %></div>
  <% if game_type == "snelste" %>
	<%= link_to image_tag("#{game_type}.jpg"), new_battle_path(:theme => params[:theme], game_type: "#{game_type}")  %>
	<div><%= link_to "Choose", new_battle_path(:theme => params[:theme]), game_type: "#{game_type}", class: "primary-button bottom-pusher" %></div>
  <% else %>
	<%= link_to image_tag("#{game_type}.jpg"), '#'%>
  <button type="button" disabled class="primary-button bottom-pusher">Choose</>
  <% end %>
</div>
