<% for user in @battle.users do %>
	<table>
		<tr>
		  	<td>Avatar</td>
		  	<td>Naam</td>
		  	<td>Score</td>
		</tr>
		<tr>
			<td><%= image_tag user.avatar %></td>
			<td><%= user.name %></td>
			<td><%= user.readings.where(:battle_id => @battle.id).last.amount%></td>
		</tr>
	</table>
<% end %>



<!-- - user.readings.where(:battle_id => @battle.id).first.amount -->