<div class="battle_show">
    <table>
		<tr>
		  	<td>Avatar</td>
		  	<td>Naam</td>
		  	<td>Level</td>
		</tr>
        <% find_team_members(team).each do |team| %>
		<tr>
			<td><%= image_tag team.user.avatar %></td>
			<td><%= team.user.name %></td>
			<% if team.user.readings.where(battle_id: @battle.id) %>
			<td><%= number_to_percentage 1 - ((team.user.readings.where(battle_id: @battle.id).sum(:amount).to_f) / 12500) %></td>
			<% end %>
		</tr>
        <% end %>
    </table>
</div>
