<div class="theme">
	<h1><%= "#{theme.capitalize}" %></h1>
	<div><%= link_to "Host", gametype_path(:theme => "#{theme}"), class: "primary-button" %></div>
	<div><%= link_to "Join", battles_path(:theme => "#{theme}"), class: "primary-button" %></div>
</div>
