<% provide(:title, "Huidige battles") %>

<div id="battles">
	<%= render 'battles' %>
</div>

<%= will_paginate @battles, previous_label: "Vorige", next_label: "Volgende" %>

<%= link_to "Nieuwe battle", theme_path, class: "primary-button" %>
