<div class="heading">Creëer een battle</div>
<div class="col-4 battle_settings">
  <div class="subheading">Instellingen</div>
  <%= render 'edit_form'%>
</div>
<div class="col-8 omega-1 teams-header">
  <div class="col-4-of-8">
    <div class="subheading">Team Host</div>
    <ul class="teams-headrow">
      <li class="team-head1">Speler</li>
      <li class="team-head2">Level</li>
      <li class="team-head3">Status</li>
    </ul>
    <div class='member'>
      <%= image_tag current_user.avatar %>
      <ul>
          <li><%= current_user.name %></li>
      </ul>
    </div>
  </div>
  <div class="col-4-of-8">
    <div class="subheading">Team Opponent</div>
    <ul class="teams-headrow">
      <li class="team-head1">Speler</li>
      <li class="team-head2">Level</li>
      <li class="team-head3">Status</li>
    </ul>
  </div>
</div>
