<div class="subheading">Creër een battle</div>
<div class="battle_settings">
	<div class="subheading">Instellingen</div>
	<%= render 'edit_form'%>
</div>
<div class="teams">
<div class="team_1">
	<div class="subheading">Team 1</div>
	<div class='member'>
		<%= @current_user.first_name %>
		<%= @current_user.email %>
	</div>
</div>
<div class="team_2">
	<div class="subheading">Team 2</div>
</div>
</div>
