<h1>Single-player battle</h1>
<div id="grijs-vlak">
	<div id="blauw-vlak">
		<div class='member'>
			<%= @host.first_name %>
			<%= @host.email %>
		</div>
	</div>
	<div id="rood-vlak">
		<div class='member'>
			<%= button_to "Join", { controller: "battles" , method: :create_team_relation } %>
		</div>
	</div>
</div>