<table>
	<tr>
		<td><strong>Type</strong></td>
		<td><strong>Omschrijving</strong></td>
		<td><strong>Eigenaar</strong></td>
	</tr>
</table>

<table>
	<tr>
		<% @single_battles.each do |s| %>
<td><%= link_to s.theme, edit_single_battle_path(s) %></td>
<td>Sample</td>
<td></td>
</tr>	

<% end %>

	
</table>


<button><%= link_to "Nieuwe battle", new_single_battle_path %></button>