<h1>Single-player battle</h1><%= @single_battle.host_id %>
<div id="grijs-vlak">
	<div id="blauw-vlak">
		<div class='member'>
			<%= @host.first_name %>
			<%= @host.email %>
		</div>
	</div>
	<div id="rood-vlak"></div>
</div>