<h1>Single-player battle</h1>
<div id="grijs-vlak">
	<div id="blauw-vlak">
		<div class='member'>
			<%= @host.first_name %>
			<%= @host.email %>
		</div>
	</div>
	<div id="rood-vlak">
		<div class='member'>
			<% if @single_battle.opponent_id == :nil %>
			<% else %>
				<%= @opponent.first_name %>
				<%= @opponent.email %>
			<% end %>
		</div>
	</div>
</div>