.primary-button {
  background: $green;
  display: block;
  overflow: hidden;
  text-align:center;
  width: 300px;
  height: auto;
  line-height: 1em;
  padding: .5em;
  margin: 0.5em 0em .5em 0;
  border-radius: 5px;
  box-shadow: 0 0.125em 0 0 $darkgreen;
  text-align: center;
  font-family: 'Lato' , sans-serif;
  font-size: 1.5em;
  color: $white;
  text-decoration: none;
  transition: background .5s ease-in;
  border:none;
}
.primary-button:hover {
  background: $darkgreen;
  color: $white;
}
.primary-button:active {
  background: $darkergreen;
  box-shadow: 0 0.125em 0 0 $darkergreen;
  color: $white;
}
.primary-button:disabled{
  opacity:0.5;
}

.join_button {
  margin-left:100px;
}

.fb-btn {
  background-color:#637aad;
  border-radius: 5px;
  display:inline-block;
  color:$white;
  font-family: 'lato' , sans-serif;
  font-size: 1.5em;
  font-weight:400;
  padding: .5em;
  text-decoration:none;
  position:relative;
  bottom:10px;
  box-shadow:0 0.125em 0 0 rgba(58, 73, 103, 0.8);
  transition: background .5s ease-in;
}
.fb-btn:hover{
  background: rgba(78, 93, 138, 0.8);
}
.fb-btn:active{
  background: rgba(58, 73, 103, 0.8);
}

.destroy{
  text-decoration: none;
  color: red;
  font-size:1.5em;
  float:right;
}
.switch{
  text-decoration:none;
  float:right;
  color:blue;
  font-size:1.3em;
  margin:0.1em 0.2em;
}