// Dashboard
.profile-info {
	@include outer-container;
	@include span-columns(4);
  position: relative;
  min-height: 550px;
  background-color: #F0F0F0;
  text-align: center;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  
  
  .rounded-img {
    width: 130px;
    border-radius: 150px;
    border: 3px solid $green;
    margin-top: 20px;
  }
  .heading {
    margin-top: 10px;
	margin-bottom: 0;
  }
  .subheading{
	  margin-bottom: .8em;
	  font-weight: 300;
  }
  ul {
    float: left;
    
    li {
      font-size: 0.9em;
      list-style: none;
      line-height: 20px;
      margin: 10px 0 0 0;
    }
    
    &.left {
      width: 50%;      
      text-align: right;
      padding-right: 10px;
      border-right: 1px solid #333;
    }
    &.right {
      width: 50%;
      padding-left: 10px;
      text-align: left;
    }
  }  

  .profile-statistics {
	@include span-columns (4 of 4);
    position: absolute;
    bottom: 0;
    background-color: $darkblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    ul {
      li {
        font-family: 'lato';
        padding: 22px 21px 12px 21px;
        color: $white;
        font-size: 48px;
        float: left;
        display: block;
        height: 100%;
        border-right: 1px solid white;
        margin-top: 0;
        &:last-child {
          border: none;
        }
        .small {
          margin-top: 20px;
          display: block;
          font-weight: 300;
          font-size: 18px;
        }
      }
    }
  }
}
