body{
	background-image: url('achtergrond.png');
	&.without-background {
		background: white;		
	}
}

.home{
	@include outer-container;
	@include span-columns(6);
	@include shift(3);
   background-color: $grey;
   box-shadow: 0 0.125em 0 0 $darkblue;
   padding:1em;
   position:relative;
   border-radius: 0.3em;
   color: $blue;
   font-size: 1.2em;
	a{
		color: $white;
	}
	h1{
		margin: 10px;
		text-align:center;
		font-size: 1.2em;
	}
}
.simple_form input{
	background-color:red;
	width: 300px;
}
.fb-btn{
	a{
		color: $white;
	}
	@include span-columns(10);
	@include shift (1);
	font-size: 1.5em;
	text-align:center;
	margin: 1em;
}

.extra_info{
	@include outer-container;
	@include span-columns(6);
	@include shift(3);
   background-color: $grey;
   box-shadow: 0 0.125em 0 0 $darkblue;
   padding:1em;
   position:relative;
   border-radius: 0.3em;
   color: $blue;
   font-size: 1.2em;
}