#battles table {
  width:100%;
}
.battle_index table{
  margin-top:1em;
  tr:nth-child(odd){
    background-color:$grey;
  }
  tr:nth-child(even){
    background-color:#fff;
  }
  td {
    padding:7px;
  }
  tr:first-child td{
    background-color: $green;
  }
  tr:first-child td:first-child{
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
  }
  tr:first-child td:last-child{
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
  }
  tr:last-child td:first-child{
    border-bottom-left-radius:7px;
  }
  tr:last-child td:last-child{
    border-bottom-right-radius:7px;
  }
}

.battle_show table{
  width:100%;
  img{
    border-radius:150px;
    height:30px;
  }
  tr:nth-child(odd){
    background-color:#fff;
  }
  tr:nth-child(even){
    background-color:$green;
  }
  td{
    padding:7px;
    vertical-align:middle;
  }
  tr:first-child td{
    background-color: #fff;
  }
  tr:not(:first-child){
    height:46px;
  }
  tr:first-child td:first-child{
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
  }
  tr:first-child td:last-child{
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
  }
  tr:last-child td:first-child{
    border-bottom-left-radius:7px;
  }
  tr:last-child td:last-child{
    border-bottom-right-radius:7px;
  }
}

h1{
  margin-top: 15px;
}

table a{
  font-family: 'Lato' , sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: $blue;
}


table{
  a:active{
    color:$darkergreen;
    text-decoration:underline;
  }
  a:hover{
    color:$darkgreen;
    text-decoration:underline;
  }
}