#battles table {
  width:100%;
}.table_index table{
	margin-top:1em;
}.table_index tr:nth-child(odd){
	 background-color:#68c07b;
}.table_index tr:nth-child(even)    {
	background-color:#ffffff;
}.table_index td {
	padding:7px;
}.table_index tr:first-child td{
	background-color:#4d9b5d;
}.table_index tr:first-child td:first-child{
	border-top-left-radius:7px;
}.table_index tr:first-child td:last-child{
	border-top-right-radius:7px;
}.table_index tr:last-child td:first-child{
	border-bottom-left-radius:7px;
}.table_index tr:last-child td:last-child{
	border-bottom-right-radius:7px;
}