/* *= require jquery.ui.datepicker */
@import "bourbon";
@import "neat";

@import "base/reset";
@import "base/bourbon";
@import "base/layout";
@import "base/typography";

@import "components/alerts";
@import "components/auto_complete";
@import "components/buttons";
@import "components/forms";
@import "components/header";
@import "components/navigation";

@import "components/table";
@import "components/table";
@import "components/statistics";


.blank_row
{
    height: 10px !important; /* Overwrite any previous rules */
    background-color: white;
	td {
	    background-color: #f0f0f0;
	}
}
