/*
 *= require jquery.ui.datepicker
 *= require font-awesome
 */
@import "font-awesome";

@import "bourbon";
@import "neat";

@import "base/reset";
@import "base/bourbon";
@import "base/color";
@import "base/layout";
@import "base/typography";


@import "components/alerts";
@import "components/auto_complete";
@import "components/buttons";
@import "components/forms";
@import "components/header";
@import "components/navigation";
@import "components/notifications";
@import "components/dashboard";

@import "components/table";
@import "components/table";
@import "components/statistics";
@import "components/menu";
@import "components/blanket";

@import "new_battle";

.blank_row {
    height: 10px !important; /* Overwrite any previous rules
      moet nog ergens anders hoor is een test*/
    background-color: white;
  td {
    background-color: #f0f0f0;
  }
}


.rotate {
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
	display: none;
}

.winner {
	border: 3px solid #999;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin-left: 400px;
	h1 {
		font-size: 2em;
	}
	h2 {
		margin-top: 10px;
		font-size: 1.4em;
	}
	span.besparing {
		font-size: 1.4em;
	}
}

.rounded-img {
  width: 130px;
  border-radius: 150px;
  border: 3px solid $green;
  margin-top: 20px;
}