/*
 *= require jquery.ui.datepicker
 *= require font-awesome
 */
@import "font-awesome";

@import "bourbon";
@import "neat";

@import "base/reset";
@import "base/bourbon";
@import "base/color";
@import "base/layout";
@import "base/typography";


@import "components/alerts";
@import "components/auto_complete";
@import "components/buttons";
@import "components/forms";
@import "components/header";
@import "components/navigation";
@import "components/notifications";
@import "components/dashboard";

@import "components/table";
@import "components/table";
@import "components/statistics";
@import "components/menu";
@import "components/blanket";

@import "new_battle";

.blank_row {
    height: 10px !important; /* Overwrite any previous rules
      moet nog ergens anders hoor is een test*/
    background-color: white;
  td {
    background-color: #f0f0f0;
  }
}
