h1 {
        text-align:center;
        margin-bottom:10px;
        margin-top:10px;
        text-shadow:1px 1px gray;
}

.heading {
        text-align:center;
        font-size:32px;
        font-weight:bold;
        padding:2px;
        text-shadow:1px 1px gray;
}

.subheading {
	@extend .heading;
	font-size:26px;
}

.quarter_of_container {
        background-color:darkgray;
        width:24.85%;
        height:450px;
        float:left;
        margin:auto;
        border-left:1px solid black;
}

.pusher {
        height:80%;
}

.member {
        background-color:gray;
        padding:15px;
        margin:5px;
        color:white;
        border-radius:7px;
}

.join_button {
        margin-left:100px;
}

.invite {
	text-align:center;
}

.invite_members {
	background-color:green;
	margin:3px;
	padding:3px;
	border-radius:3px;
	width:100px;
}

#inviteable_members {
	overflow:scroll;
  position:relative;
  height:20em;
  margin-bottom:10px;
}

.notice {
	border:2px green solid;
	padding:7px;
	border-radius:7px;
	margin:1em 0;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include span-columns($i);
  }
}

@for $i from 1 through 12 {
	@for $p from 1 through 12 {
	  .col-#{$i}-of-#{$p} {
	    @include span-columns($i of $p);
	  }
	}
}

@for $i from 1 through 6 {
	.omega-#{$i} {
		@include omega(#{$i}n);
	}
}

.border-right {
	border-right:2px solid #2c3e50;
	height:100%;
}


