h1 {
        text-align:center;
        margin-bottom:10px;
        margin-top:10px;
        text-shadow:1px 1px gray;
}

.subheading {
        text-align:center;
        font-size:26px;
        font-weight:bold;
        padding:2px;
        text-shadow:1px 1px gray;
}

#container {
        width:960px;
        margin:auto;
}

.quarter_of_container {
        background-color:darkgray;
        width:24.85%;
        height:450px;
        float:left;
        margin:auto;
        border-left:1px solid black;
}

.pusher {
        height:80%;
}

.member {
        background-color:gray;
        padding:15px;
        margin:5px;
        color:white;
        border-radius:7px;
}

.join_button {
        margin-left:100px;
}

.invite {
        position:relative;
        height:85%;
        overflow:scroll;
        margin-bottom:10px;
}

.invite_members {
        background-color:green;
        margin:3px;
        padding:3px;
        border-radius:3px;
        width:100px;
}

.notice {
        border:2px green solid;
        padding:7px;
        border-radius:7px;
}