h1 {
	width:400px;
	margin:auto;
	margin-bottom:10px;
	margin-top:10px;
}

#grijs-vlak {
	background-color:gray;
	width:960px;
	margin:auto;
}

#blauw-vlak {
	background-color:blue;
	width:40%;
	height:400px;
	float:left;
	margin:auto;
}

#rood-vlak {
	background-color:red;
	width:40%;
	float:right;
	height:400px;
	margin:auto;
}

.member {
	background-color:green;
	padding:15px;
	color:white;
}

#form {
	float:left;
	width:20%;
	background: grey;
}

#submit {
	float:right;
}