h1 {
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
}

#container {
	width:960px;
	margin:auto;
}

.quarter_of_container {
	background-color:darkgray;
	width:24.85%;
	height:400px;
	float:left;
	margin:auto;
	border-left:1px solid black;
}

.members {
	height:80%;
}

.member {
	background-color:gray;
	padding:15px;
	margin:5px;
	color:white;
	border-radius:7px;
}

#form {
	float:right;
	margin:10px;
}

#submit {
	float:right;
}

.join_button {
	margin-left:100px;
}

.invite {
	height:340px;
	overflow:scroll;
	margin-bottom:10px;
}

.invite_members {
	background-color:green;
	margin:3px;
	padding:3px;
	border-radius:3px;
	width:100px;
}