<div class="inner-header">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><a href="/home/" title="home"> Profiel </a></li>
		<li><%= link_to "Battles", battles_path %></li>
		<li><a href="/home/"> Teams</a></li>
		<li><a href="/home/"> Spelers</a></li>
		<div class="pull-right">
			<%= link_to image_tag("Bell.svg"), '', class: "icon-bell" %>
			<%= link_to image_tag("Menu.svg"), '', class: "icon-menu" %>
		</div>
	</ul>
</div>