<div class="inner-header">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><a href="/home/" title="home"> Profiel </a></li>
		<li><a href="/home/" title="home"> Battle's </a></li>
		<li><a href="/home/" title="home"> Teams </a></li>
		<li><a href="/home/" title="home"> Spelers </a></li>
	</ul>
</div>