<div class="st-menu st-effect-1" id="menu-1">
    <div class="row">
        <div class="span2 offset1" id="menu">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
    </div>
</div>